<section class="services" id="services">
    <div class="container">
        <h1 class="services-head">Services</h1>
        <p>All your digital needs... covered.</p>
        <div class="card-grid">
            <div class="card">
                <img src="https://source.unsplash.com/1600x900/?boy,men" />
                <h2>Web Development</h2>
                <p>
                    Work in progress...
                </p>
            </div>
            <div class="card">
                <img src="https://source.unsplash.com/1600x900/?nature,water" />
                <h2>Mobile</h2>
                <p>
                    Work in progress...
                </p>
            </div>
            <div class="card">
                <img src="https://source.unsplash.com/1600x900/?car,bike" />
                <h2>Content Writing</h2>
                <p>
                    Work in progess...
                </p>
            </div>
        </div>
    </div>
</section>