<header>
  <div class="container">
    <nav class="flex items-center justify-between">
      <div class="left flex justify-right">
        <div>
          <a href="#">{{ HOME }}</a><a href="#about">{{ ABOUT }}</a><a href="#skills">{{ SKILLS }}</a><a href="#">{{ BLOG }}</a>
          <a href="#more">{{ MORE }}</a>
        </div>
      </div>
      <div class="right">
        <button class="btn btn-primary">{{ CONTACT }}</button>
      </div>
    </nav>
  </div>
  <!-- BREVE DESCRIZIONE -->
  <div class="hero flex-description items-centre">
    <div class="left flex-1 circle-container">
        <img src="assets/images/profile.jpg" class="circle-image" title="profile_photo"/>
    </div>
    <div class="right flex-1">
        <h1>
            I'm a Full<br />
            <span>Stack Developer</span>
        </h1>
        <p>
            {{ SHORT_DESCRIPTION }}
        </p>
        <div><button class="btn btn-secondary white" (click)="openDialog()">{{ DOWNLOAD_CV }}</button></div>
    </div>
  </div>
</header>
