/* Stili predefiniti per l'header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #c3c3c3;
}

.logo,
.profession,
.icons {
  display: flex;
  align-items: center;
}

/* UTILI */
.user{
  background-image: url('/assets/icons/user.png');
}
.work{
  background-image: url('/assets/icons/portfolio.png');
}

/* CANALI */
.instagram{
  background-image: url('/assets/icons/instagram.png');
}
.fb{
  background-image: url('/assets/icons/facebook.png');
}
.linkedin{
  background-image: url('/assets/icons/linkedin.png');
}
