<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col" id="more">
                <h4>{{ MORE }}</h4>
                <ul>
                    <li><a href="#about">{{ ABOUT_ME }}</a></li>
                    <li><a href="#skills">{{ MY_SKILLS }}</a></li>
                    <li><a href="#">{{ PRIVACY_POLICY }}</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>{{ CONTACT_ME }}</h4>
                <ul class="white">
                    <li><span class="pi pi-phone"></span> {{ PHONE }}</li>
                    <li><span class="pi pi-envelope"></span> {{ EMAIL }}</li>
                    <li><span></span></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>{{ FOLLOW_ME }}</h4>
                <div class="social-links">
                    <a target="_blank" [href]="FACEBOOK"><i class="pi pi-facebook"></i></a>
                    <a target="_blank" [href]="INSTAGRAM"><i class="pi pi-instagram"></i></a>
                    <a target="_blank" [href]="LINKEDIN"><i class="pi pi-linkedin"></i></a>
                    <a target="_blank" [href]="GITHUB"><i class="pi pi-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- COPYRIGHT-->
<div class="copyright">&copy;<span id="year">2023 </span><span>All rights reserved.</span></div>